<mat-card>
    <mat-card-title class="titulo black white borda2 mat-elevation-z3">Novo Produto</mat-card-title>
    <form class="form2">

        <mat-form-field class="borda2">
            <input matInput placeholder="Nome"
                [(ngModel)]="product.name" name="name">
        </mat-form-field>

        <mat-form-field class="borda1">
            <input matInput placeholder="Preço (R$)"
                [(ngModel)]="product.price" name="price">
        </mat-form-field>

    </form>

    <form class="borda1">
        <button mat-raised-button (click)="createProduct()" color="primary">
            Salvar
        </button>
        
        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </form>
</mat-card>



